{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head_content %}{% endblock %}
{% block head_scripts %}
{% endblock %}
{% block main_content %}
<div class="row g-3">
    {% for photoset in data.photosets.photoset %}
    <div class="col-12 col-lg-3">
        <div class="bg-image hover-overlay rounded position-relative" data-mdb-ripple-init data-mdb-ripple-color="light">
            <div class="ratio ratio-4x3">
                <img src="{{ photoset.primary_photo_extras.url_l or photoset.primary_photo_extras.url_m }}" 
                     class="img-fluid rounded shadow"
                     alt="{{ photoset.title._content }}" />
            </div>
            <a href="/photos?album_id={{ photoset.id }}" class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <p class="text-white text-center fw-bold mb-0">{{ photoset.title._content }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer_content %}{% endblock %}
{% block body_scripts %}
{% endblock %}