{% extends "base.html" %}

{% block title %}Map View{% endblock %}
{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}
{% block header_content %}{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-lg-12 col-md-12 mb-4 mb-lg-0"></div>

    <!-- Map container -->
    <div id="map" style="height: 900px;"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Add markers from data
        let photosData = {{ data.photos.photo | tojson | safe }};

        // Get the latest photo (assuming the first one is the latest)
        let latestPhoto = photosData[0];

        // Set map view to the latest photo's location
        var map = L.map('map').setView([latestPhoto.latitude, latestPhoto.longitude], 10);

        // Add tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Loop through and add all markers
        photosData.forEach(photo => {
            L.marker([photo.latitude, photo.longitude])
                .addTo(map)
                .bindPopup(`<a href="/photos/${photo.id}"><strong>${photo.title}</strong><br><img src="${photo.url_s}" alt="${photo.title}" style="width:100px;"></a>`);
        });
    </script>ƒ
</div>
{% endblock %}
{% block footer_content %}{% endblock %}
{% block body_scripts %}{% endblock %}