{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head_content %}{% endblock %}
{% block head_scripts %}
{% endblock %}
{% block main_content %}
<div class="row">
    {% for photo in photos %}
    <div class="col-12 mb-4">
        <div class="bg-image hover-overlay rounded" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="{{photo.url_l or photo.url_m}}" class="w-100" />
            <a href="/photos/{{photo.id}}">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <p class="text-white mb-0">{{photo.title}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer_content %}{% endblock %}
{% block body_scripts %}
{% endblock %}